{% extends 'flower_shop_app/base.html' %}

{% load static %}

{% block title %}Каталог{% endblock %}

{% block content %}
    {% include 'flower_shop_app/partials/header.html' %}

	<section id="catalog">
		<div class="container p100">
			<div class="catalog">
                <div class="title">Все букеты</div>
                <div class="catalog__block">
                    {% include 'flower_shop_app/partials/category_bouquets.html' with page_obj=page_obj %}
                </div>
		    </div>
        </div>
	</section>

    {% include 'flower_shop_app/partials/consultation_form_section.html' with form=consultation_form %}
    {% include 'flower_shop_app/footer.html' %}
{% endblock %}
