{% extends 'flower_shop_app/base.html' %}

{% load static %}

{% block title %}Каталог{% endblock %}

{% block content %}
    {% include 'flower_shop_app/partials/header.html' %}

	<section id="catalog">
		<div class="container p100">
			<div class="catalog">
                <div class="title">Все букеты</div>
                <div class="catalog__block">
                    <div class="recommended__elems ficb recommended__elems_first">
                        {% for bouquet in bouquets.object_list %}
                            {% include 'flower_shop_app/partials/bouquet_card.html' with bouquet=bouquet %}
                        {% endfor %}
                    </div>
                    <div class="pagination_wrapper">
                        {% include 'flower_shop_app/pagination.html' with page=bouquets %}
                    </div>
                </div>
			</div>
		</div>
	</section>

    {% include 'flower_shop_app/partials/consultation_form_section.html' with form=consultation_form %}
    {% include 'flower_shop_app/footer.html' %}
{% endblock %}
