{% extends 'flower_shop_app/base.html' %}
{% load static %}

{% block title %}Консультация{% endblock %}

{% block content %}
    <header id="header">
		<div class="container">
			<div class="header ficb">
				<a href="{% url 'flower_shop_app:index' %}"><img src="{% static 'flower_shop_app/images/logo.svg' %}" alt="logo" class="logo"></a>
				<nav>
					<ul class="menu ficc">
						<li class="menu__item"><a href="{% url 'flower_shop_app:catalog' %}" class="menu__item_link">Каталог</a></li>
						<li class="menu__item"><a href="{% url 'flower_shop_app:index' %}#recommended" class="menu__item_link">Рекомендации</a></li>
						<li class="menu__item"><a href="{% url 'flower_shop_app:index' %}#contacts" class="menu__item_link">Контакты</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section id="singUpConsultation">
		<div class="container">
			<div class="singUpConsultation">
                <form action="{% url 'flower_shop_app:created_consultation' %}" method="post" class="singUpConsultation__form">
                    <div class="title">Запись на консультацию</div>
                    {% if form.errors %}
                        <ul class="error_block">
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li class="error_message">{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% csrf_token %}
                    {{ form.name }}
                    {{ form.phone_number }}
                    <div class="checkbox fic">
                        {{ form.acceptance_of_rules }}
                        <span class="chekbox__intro">Я согласен(а) с политикой конфиденциальности</span>
                    </div>
                    <input type="submit" class="btn singUpConsultation__form_btn" value="Отправить">
                </form>
				<div class="blockImgHiden"></div>
			</div>
		</div>
		<img src="{% static 'flower_shop_app/images/singUpConsultationImg.jpg' %}" alt="singUpConsultationImg" class="singUpConsultation__img">
	    {% include 'flower_shop_app/footer.html' %}
    </section>
{% endblock %}