{% extends 'flower_shop_app/base.html' %}
{% load static %}

{% block title %}Консультация{% endblock %}

{% block content %}
    {% include 'flower_shop_app/partials/header.html' %}

	<section id="singUpConsultation">
		<div class="container">
			<div class="singUpConsultation">
                <form action="{% url 'flower_shop_app:created_consultation' %}" method="post" class="singUpConsultation__form">
                    <div class="title">Запись на консультацию</div>
                    {% if consultation_form.errors %}
                        <ul class="error_block">
                            {% for field in consultation_form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% csrf_token %}
                    {{ consultation_form.name }}
                    {{ consultation_form.phone_number }}
                    <div class="checkbox fic">
                        {{ consultation_form.acceptance_of_rules }}
                        <a class="privacy_link" href="{% static 'privacy.pdf' %}" target="_blank">
                            <span class="checkbox__intro">Я согласен(а) с политикой конфиденциальности</span>
                        </a>
                    </div>
                    <input type="submit" class="btn singUpConsultation__form_btn" value="Отправить">
                </form>
				<div class="blockImgHiden"></div>
			</div>
		</div>
		<img src="{% static 'flower_shop_app/images/singUpConsultationImg.jpg' %}" alt="singUpConsultationImg" class="singUpConsultation__img">

        {% include 'flower_shop_app/footer.html' %}
    </section>
{% endblock %}