{% extends 'flower_shop_app/base.html' %}
{% load static %}

{% block title %}Мастерская цветов{% endblock %}

{% block content %}
    <div class="mainBg">
		{% include 'flower_shop_app/partials/header.html' %}

		<section id="banner">
			<div class="container">
				<div class="banner">
					<div class="banner__block">
						<h1 class="banner__title">Мастерская цветов</h1>
						<p class="banner__text">Подберем для вас букет за два шага, который идеально подойдет под вашу ситуацию</p>
						<a href="{% url 'flower_shop_app:quiz_step_1' %}"><button class="btn banner__btn">Подобрать букет</button></a>
					</div>
					<img src="{% static 'flower_shop_app/images/bannerImg.png' %}" alt="banner Img" class="banner__img">
				</div>
			</div>
		</section>
	</div>
	<section id="recommended">
		<div class="container">
			<div class="recommended p100">
				<div class="title">Рекомендуем</div>
				<div class="recommended__elems ficb fade_in">
                    {% for bouquet in recommended_bouquets %}
                        {% include 'flower_shop_app/partials/bouquet_card.html' with bouquet=bouquet %}
                    {% endfor %}
				</div>
                <a class="" href="{% url 'flower_shop_app:catalog' %}">
                    <button class="btn recommended__btn">Показать всю коллекцию</button>
                </a>
			</div>
		</div>
	</section>

    {% include 'flower_shop_app/partials/contacts_section.html' with show_delivery_btn=True %}
    {% include 'flower_shop_app/partials/consultation_form_section.html' with form=consultation_form %}
    {% include 'flower_shop_app/footer.html' %}
{% endblock %}