{% extends 'flower_shop_app/base.html' %}
{% load static %}

{% block title %}Создание заказа{% endblock %}

{% block content %}
	<section id="order">
		<div class="container">
			<div class="order">
				<div class="order__block">
					<div class="order_items">
						<div class="title">Оформление доставки</div>
						<form action="#" class="order__form" method="post">
							{% csrf_token %}
							{% if order_form.errors %}
                			<ul class="error_block">
                    			{% for field in order_form %}
                    			{% for error in field.errors %}
                    			<li>{{ error }}</li>
                    			{% endfor %}
                    			{% endfor %}
							</ul>
							{% endif %}
							<div class="order__form_block ficb">
								{{ order_form.client_name }}
								{{ order_form.phone_number }}
								{{ order_form.address }}
							</div>
							<div class="order__form_btns fic">
								{% for radio in order_form.delivery_time %}
								<div class="order__form_radioBlock ">
									{{ radio.tag }}
									<label for="{{ radio.id_for_label }}" class="radioLable">{{ radio.choice_label }}</label>
								</div>
								{% endfor %}
							</div>
							<div class="order__form_line"></div>
							<div class="order__form_btns ficb">
								<button class="btn order__form_pay">Оплатить</button>
								<button class="btn order__form_btn">Назад</button>
							</div>
						</form>
					</div>
					
				</div>
			</div>
		</div>
		<img src="{% static 'flower_shop_app/images/orderImg.jpg' %}" alt="orderImg" class="order__img">
	</section>
	{% include 'flower_shop_app/footer.html' %}
	<script>
		document.querySelector('input[type=radio]').onclick = function(e) {
			// e.preventDefault()
			// console.log(e.target)
			console.log(e.target.value)
		}
	</script>
{% endblock %}