{% extends 'flower_shop_app/base.html' %}
{% load static %}

{% block refresh %}<meta http-equiv="refresh" content="30">{% endblock %}
{% block title %}Подбор букета{% endblock %}

{% block content %}
	<section id="result">
		<div class="container">
			<div class="result p100">
				{% if payment_status == 'succeeded' %}
				<div class="title">Спасибо за ваш заказ!</div>
				{% elif payment_status == 'pending' %}
				<div class="title">Ожидаем оплату, не закрывайте страницу!</div>
				{% elif payment_status == 'canceled' %}
				<div class="title">К сожалению, платеж был отклонен :(</div>
				<div class="result__items_price">Попробуйте повторить оплату, или создайте новый заказ.</div>
				{% endif %}
				<div class="result__block ficb">
					{% if payment_status == 'succeeded' %}
					<div class="result__elems">
						<div class="card__elems ">
							<span class="card__elems_intro">Имя:</span>
							<div class="card__items">
								<p class="card__items_text card__items_text__first">
									{{ order.client_name }}
								</p>
							</div>
						</div>
						<div class="card__elems ">
							<span class="card__elems_intro">Номер телефона:</span>
							<div class="card__items">
								<p class="card__items_text card__items_text__first">
									{{ order.phone_number }}
								</p>
							</div>
						</div>
						<div class="card__elems ">
							<span class="card__elems_intro">Адрес:</span>
							<div class="card__items">
								<p class="card__items_text card__items_text__first">
									{{ order.address }}
								</p>
							</div>
						</div>
						<div class="card__elems ">
							<span class="card__elems_intro">Время доставки:</span>
							<div class="card__items">
								<p class="card__items_text card__items_text__first">
									{{ order.get_delivery_time_display }}
								</p>
							</div>
						</div>
					</div>
					{% else %}
					<img src="{% static 'flower_shop_app/images/contactsImg.jpg' %}" alt="contacts Img" class="result__block_img">
					{% endif %}
					<img src="{{ bouquet.image.url }}" alt="result Img" class="result__block_img">
					<div class="result__items">
						<div class="title result__items_title">{{ bouquet.name }}</div>
						<div class="result__items_price">{{ bouquet.price|floatformat }} руб</div>
						{% if payment_status == 'canceled' %}
						<a href="{% url 'flower_shop_app:payment' %}" class="full_width_btn_link btn_link_dark">Заказать букет</a>
						{% else %}
						<a href="{% url 'flower_shop_app:index' %}" class="full_width_btn_link btn_link_dark">Заказать букет</a>
						{% endif %}
						<hr class="result__items_line" />
						<div class="result__items_intro">Хотите что-то более специальное?</div>
						<div class="result__items_block">
							<a class="full_width_btn_link btn_link_light" href="{% url 'flower_shop_app:catalog' %}">Смотреть всю коллекцию</a>
							<a class="full_width_btn_link btn_link_light" href="#consultation">Заказать консультацию</a>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</section>
	<section id="contacts">
		<div class="container">
			<div class="contacts">
				<div class="title">Как нас найти</div>
				<div class="contacts__elems ficb">
					<div class="contacts__block">
						<div class="contacts__block_item ficc">
							<div class="contacts__block_intro">ул. Пушкинская, 69</div>
							<a href="tel:89111744460" class="contacts__block_tel">8 (911) 17 44 460</a>
						</div>
						<div class="contacts__block_item ficc">
							<div class="contacts__block_intro">ул. Пушкинская, 69</div>
							<a href="tel:89111744460" class="contacts__block_tel">8 (911) 17 44 460</a>
						</div>
						<div class="contacts__block_item ficc">
							<div class="contacts__block_intro">ул. Пушкинская, 69</div>
							<a href="tel:89111744460" class="contacts__block_tel">8 (911) 17 44 460</a>
						</div>
					</div>
					<img src="{% static 'flower_shop_app/images/contactsImg.jpg' %}" alt="contactsImg" class="contacts__img">
					<div class="contacts__map">
						<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af39d7a7f1829359b6ffe21ab6356fcaeace17d528d6522dba8772f885c8b1a7d&amp;width=398&amp;height=316&amp;lang=ru_RU&amp;scroll=true"></script>
					</div>					
				</div>
				<button class="btn contacts__btn">Заказать доставку</button>
			</div>
		</div>
	</section>

	{% include 'flower_shop_app/partials/consultation_form_section.html' with form=consultation_form %}

	{% include 'flower_shop_app/footer.html' %}
{% endblock %}