{% extends 'flower_shop_app/base.html' %}
{% load static %}

{% block title %}Подбор букета{% endblock %}

{% block content %}
	<section id="quiz">
		<div class="container">
			<div class="quiz">
				<div class="quiz__back ">
				</div>
				<div class="quiz__block">
					<h1 class="quiz__title">К какому событию нужен букет?</h1>
					<div class="quiz__elems fic">
						<form>
							{% for event_tag in event_tags %}
							<button class="quiz__elem" type="submit" name="event_tag_id" value="{{ event_tag.id }}">{{ event_tag.name }}</button>
							{% endfor %}
							<button class="quiz__elem" type="submit" name="event_tag_id" value="no_tag">Без повода</button>
						</form>
					</div>
					<div class="quiz__progress">
						<div class="quiz__progress_step">
							<span class="quiz__progress_num">1</span>
							<span class="quiz__progress_in"> шаг из </span>
							<span class="quiz__progress_num">2</span>
						</div>
						<div class="quiz__progress_line">
							<div class="quiz__progress_lineActive"></div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
{% endblock %}