{% extends 'flower_shop_app/base.html' %}
{% load static %}

{% block title %}Подбор букета{% endblock %}

{% block content %}
    {% include 'flower_shop_app/partials/header.html' %}

	<section id="quiz">
		<div class="container">
			<div class="quiz">
				<div class="quiz__back ">
				</div>
				<div class="quiz__block">
					<h1 class="quiz__title">Выберите основной цвет букета:</h1>
					<div class="quiz__elems fic">
						<form>
							{% for color_theme in color_themes %}
							<button class="quiz__elem" type="submit" name="color_theme_id" value="{{ color_theme.id }}">{{ color_theme.name }}</button>
							{% endfor %}
							<button class="quiz__elem" type="submit" name="color_theme_id" value="no_tag">Подойдет любой</button>
						</form>
					</div>
					<div class="quiz__progress">
						<div class="quiz__progress_step">
							<span class="quiz__progress_num">2</span>
							<span class="quiz__progress_in"> шаг из </span>
							<span class="quiz__progress_num">3</span>
						</div>
						<div class="quiz__progress_line">
							<div class="quiz__progress_lineActive" style="width: 33%"></div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
{% endblock %}